<div class="container-fluid" id="orchid-about">
    <div class="row justify-content-center">
        <div class="text-center pt-5 col-8">
            <h1 class="fs-1">GIVE WITH MEANING</h1>
            <p class="lh-base">
                For over 110 years, as the floral-gifting experts, we’ve been helping you give with more care, with greater ease, and with more meaning.<br>                        
                Established in 1910 as a collective of 10 florists, Florists’ Transworld Delivery (FTD) used the telegraph to transform the age-old practice
                of flower-giving. We understood then the unique power of flowers to express a sentiment and helped people across the world “Say it with flowers”
                Today, we have grown into an extensive network made up of thousands of local florists — each one an artisan who is handcrafting and hand-delivering
                fine bouquets all across the country.
                <br>
                When you’re giving with FTD you’re giving the gift of joy, strength, and love and you're giving it with meaning.
            </p>
        </div>
        <div class="text-center col-8 mt-3">
            <h1 class="fs-3">FTD.com Affiliate Program</h1>
            <p>
                Advertise FTD.com on your site and get 5% on your users' purchases 
            </p>
        </div>
    </div>
</div>

<div class="container" id="about-content">
    <div class="row justify-content-center mt-4">
        <div class="col-lg-4 text-center">
            <div class="mini-head mb-4">
                <p>Advertise</p>
            </div>
            <div class="mt-3 pt-3 bg-light rounded-4 px-3 d-flex flex-column align-items-center">
                <div class="mb-5 col-12">
                    <p>Advertise FTD on your website</p>
                    <hr>
                    <p>Why Partner with FTD?</p>
                </div>
                <div class="col-8 mb-5">
                    <p>After 100 years in business, we know a thing or two about flowers! 
                        In fact, we invented the world's first floral network and are one of 
                        America's most recognizable brands. Our century of success is built on industry 
                        leading standards for floral quality, artistry, and reliability. Join the FTD affiliate program and start 
                        generating revenue for your site.
                    </p>
                </div>
            </div>    
        </div>
        <div class="col-lg-4 text-center mt-4 mt-lg-0">
            <div class="mini-head mb-4">
                <p>Convert</p>
            </div>
            <div class="mt-3 pt-3 bg-light rounded-4 px-3 d-flex flex-column align-items-center">
                <div class="mb-5 col-12">
                    <p>Upon ad selection users are taken to product</p>
                    <hr>
                    <p>What can you expect?</p>
                </div>
                <div class="col-10 mb-5 ">
                    <ul>
                        <li>Full time dedicated and experienced Affiliate Manager</li>
                        <li>Competitive commission and attractive conversion rate</li>
                        <li>Daily reporting through CJ Affiliate</li>
                        <li>Affiliation with the oldest and most recognized floral organization and Brand in the world</li>
                        <li>Industry leading, best in class affiliate exclusive discounts</li>
                        <li>We deliver to almost 100% of the US residents and to major Canadian Metropolitan areas</li>
                        <li>A customizable mobile site with technology that works on hundreds of devices</li>
                        <li>Product feed available</li>
                        <li>Same day delivery available</li>
                    </ul>
                </div>
            </div>    
        </div>
        <div class="col-lg-4 text-center mt-4 mt-lg-0">
            <div class="mini-head mb-4">
                <p>Earn</p>
            </div>
            <div class="mt-3 pt-3 bg-light rounded-4 px-3 d-flex flex-column align-items-center">
                <div class="mb-5 col-12">
                    <p>Earn 5% commission across all products & categories.</p>
                    <hr>
                    <p>How do I join?</p>
                </div>
                <div class="col-8 mb-5">
                    <p>Join now through CJ Affiliate. If you have questions about becoming an affiliate of FTD, please contact us at:FTD-Affiliate@ftdi.com</p>
                </div>
            </div>
        </div>
    </div>
</div>
