
 <nav class="navbar bg-light navbar-expand-lg pt-1 pb-1 top-0 col-12">
    <div class="container ">                   
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
            data-bs-target="#navbarMenuOptions" aria-controls="navbarMenuOptions" aria-expanded="false"
            aria-label="Toggle navigation"><fa-icon [icon]="faBars" id="bars-icon"></fa-icon>
        </button>
        <div  class="collapse navbar-collapse" id="navbarMenuOptions">            
            <div class="home-icon"><img class="navbar-brand" src="/assets/flowerLogo.png" alt="flower-icon" id="flower-icon"/></div>
            <ul class="navbar-nav col-12 col-md-auto m-auto">
                <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link" routerLink="/">Home</a>
                </li>
                <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link" routerLink="/about">About</a>
                </li>
                <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link" [routerLink]="['/shop', 'sympathy']">Shop</a>                            
                </li>
                <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link link-secondary" routerLink="/" >Contact</a>                            
                </li>
            </ul>               
        </div>
        <div>           
            <a class="user-shop-links"><fa-icon [icon]="faCircleUser" id="user-icon"></fa-icon></a>            
            <a class="user-shop-links me-2"><fa-icon [icon]="faCaretDown" id="arrow-down"></fa-icon></a>
            <ng-template [ngIf]="!authService.isLoggedIn">
                <a class="user-shop-links me-2" [routerLink]="['/login']">LogIn</a>
            </ng-template>
            <ng-template [ngIf]="authService.isLoggedIn">
                <a class="user-shop-links me-2" (click)="signOut()">LogOut</a>
            </ng-template>
            <a class="user-shop-links" [routerLink]="['/cart']"><fa-icon [icon]="faCartShopping" class="position-relative" id="shopping-cart"></fa-icon></a>
            <ng-template [ngIf]="authService.isLoggedIn">
                <span class="position-absolute top-5 translate-middle align-middle bg-secondary border border-light rounded-circle cart-badge">{{shoppingService.quantity}}</span>
            </ng-template>
            <ng-template [ngIf]="!authService.isLoggedIn">
                <span class="position-absolute top-5 translate-middle align-middle bg-secondary border border-light rounded-circle cart-badge">0</span>
            </ng-template>
        </div>
    </div>
</nav> 
