<div class="container-fluid d-flex flex-column align-items-end justify-content-center" id="home-flower">
    <h1>March into Spring!</h1>
    <p id="bring">Bring the meadow to them with a daisy bouquet.</p>
    <button class="btn btn-secondary shop1-btn">SHOP FLOWERS</button>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8 mt-3 d-flex">
            <div id="home_about" class="mt-4 mb-4">
                <p class="lh-base">
                    Established in 1910, FTD has been a premier provider of beautiful floral arrangements and gorgeous mixed
                    flower bouquets for over 100 years. Whatever the occasion, our evergreen collection of colorful stems, blossoming
                    plants, and fragrant arrangements have warmed hearts all accross the country with our flower delivery services.
                    At FTD, we celebrate the little things in life and cherish the timeless charm a single flower embodies. From birthday
                    flowers to sympathy flowers, all of our hand-picked flower arrangements are worth more than a thousand words.
                </p>
                <p class="lh-base">
                    Our sprawling network of florists is chock-full of expert green thumbs an eye for elegance and perfection.
                    As one of the largest and most trusted online floral retailers in the world, we take immense pride in our
                    industry-leading title. Delivering quality, innovation, creative artistry, and dependability, FTD is much more
                    than just an online flower delivery service.
                </p>
            </div>
        </div>
    </div>
</div>
 

<div class="container" id="home_products_div">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-12 text-center ">
            <div class="shop-item">
                <img src="/assets/flower1.jpeg" alt="" class="img-fluid mb-2 mt-2">
                <div class="d-flex flex-column align-items-center fs-5 gap-2 price">
                <span>Fiesta Bouquet</span>
                <span>$60</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12 text-center ">
            <div class="shop-item">
                <img src="/assets/flower2.jpeg" alt="" class="img-fluid mb-2 mt-2">
                <div class="d-flex flex-column align-items-center fs-5 gap-2 price">
                <span>Alluring Elegance Bouquet</span>
                <span>$72</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12 text-center ">
            <div class="shop-item">
                <img src="/assets/flower3.jpeg" alt="" class="img-fluid mb-2 mt-2">
                <div class="d-flex flex-column align-items-center fs-5 gap-2 price">
                    <span>Beyond Blue Bouquet</span>
                    <span>$55</span>
                </div>
            </div>    
        </div>
        <div class="col-lg-3 col-md-6 col-12 text-center ">
            <div class="shop-item">
                <img src="/assets/flower4.jpeg" alt="" class="img-fluid mb-2 mt-2">
                <div class="d-flex flex-column align-items-center fs-5 gap-2 price">
                    <span>Mixed Roses</span>
                    <span>$35</span>
                </div>
            </div>    
        </div>
        <div class="col-lg-3 col-md-6 col-12 text-center ">
            <div class="shop-item">
                <img src="/assets/flower5.jpeg" alt="" class="img-fluid mb-2 mt-2">
                <div class="d-flex flex-column align-items-center fs-5 gap-2 price">
                    <span>Belle of the Ball Bouquet</span>
                    <span>$45</span>
                </div>
            </div>    
        </div>
        <div class="col-lg-3 col-md-6 col-12 text-center ">
            <div class="shop-item">
                <img src="/assets/flower6.jpeg" alt="" class="img-fluid mb-2 mt-2">
                <div class="d-flex flex-column align-items-center fs-5 gap-2 price">
                    <span>Rainbow Garden</span>
                    <span>$50</span>
                </div>
            </div>    
        </div>
        <div class="col-lg-3 col-md-6 col-12 text-center ">
            <div class="shop-item">
                <img src="/assets/flower7.jpeg" alt="" class="img-fluid mb-2 mt-2">
                <div class="d-flex flex-column align-items-center fs-5 gap-2 price">
                    <span>Best Day Bouquet</span>
                    <span>$64</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12 text-center ">
            <div class="shop-item">
                <img src="/assets/flower8.jpeg" alt="" class="img-fluid mb-2 mt-2">
                <div class="d-flex flex-column align-items-center fs-5 gap-2 price">
                    <span>Smiles & Sunshine</span>
                    <span>$45</span>
                </div>
            </div>    
        </div>        
    </div>
    <div class="row">
        <button class="load btn btn-outline-secondary m-auto my-5" [routerLink]="['/shop', 'sympathy']">Load more</button>
    </div>
</div>  

<div class="container">
    <div class="row d-flex justify-content-between gap-4 gap-md-0">
        <div id="business-info" class="d-flex flex-column align-content-start col-md-3">
            <div>
                <p class="mb-0">Send us a message</p>
                <p>A: Laze Nancica 7, 21000 Novi Sad</p>
                <p>T: 021/422-022</p>
                <p>office@smartinit.net</p>
            </div>
            <div>
                <p>MON-FRI: 7am - 10pm</p>
                <p>SATURDAY: 8am - 10pm</p>
                <p>SUNDAY: -</p>
            </div>
            <div>
                <p>FAQ /</p>
                <p>Shipping & Returns /</p>
                <p>Store Policy /</p>
                <p>Payment Methods /</p>
            </div>
        </div>
        <div id="contact-form" class="col-md-7 d-flex flex-column">
            <form role="form" (ngSubmit)="onSubmit()" #contForm="ngForm">
                <div class=" row d-flex justify-content-between">
                    <div class="form-group form-floating mb-2 col-md-6">
                        <input type="text" class="form-control" id="floatingInput1" placeholder="hold" ngModel name="name" required>
                        <label for="floatingInput1">Name</label>
                    </div>
                    <div class="form-group form-floating mb-2 col-md-6">
                        <input type="email" class="form-control" id="floatingInput2" placeholder="hold" ngModel name="email" required email>
                        <label for="floatingInput2">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group form-floating mb-2">
                        <input type="tel" class="form-control" id="floatingInput3" placeholder="hold" ngModel name="subject" required>
                        <label for="floatingInput3">Subject</label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group form-floating mb-2">
                        <textarea class="form-control" id="floatingInput4" placeholder="hold" style="height:90px; resize: none;" ngModel name="message" required></textarea>
                        <label for="floatinInput4">Message</label>
                    </div>
                </div>
                <div class="row">
                    <button id="send" type="submit" class="btn btn-outline-dark  m-auto send-btn px-2" [disabled]="!contForm.valid">SEND</button>
                </div>
            </form>
            <div class="mt-5 col-12">
                <form #newsletterForm = "ngForm">
                    <label class="mb-2">Get our newsletters</label><br>
                    <input type="email" name="e-mail" placeholder="Enter your email here" class="me-md-4 input-mail py-2 col-12 col-md-6" ngModel required email>
                    <button type="submit" class="btn btn-dark mt-2 mb-3 m-md-0" [disabled]="!newsletterForm.valid">Subscribe Now</button>
                </form>
            </div>
        </div>
    </div>
</div>
 <div class="container-fluid wishes-part">
    <div class="row">
        <div class="col-md-6 offer-part d-flex align-items-center">
            <div class="text-center m-auto">
                <h2>Send Get Well Wishes</h2>
                <div class="form-group">
                    <p id="well-wish"class="lh-base">Brighten their recovery with beautiful florals, plants and gifts that will express your well wishes</p>
                    <button class="btn btn-secondary shop-button mt-2">SHOP GET WELL FLOWERS & GIFTS</button>
                </div>
            </div>
        </div>
        <div class="col-md-6 bouquet-part"></div>
    </div>
</div>
    



