.second-row{
    min-height: 45vh;
}

.breadcrumb-item+.breadcrumb-item::before{
    padding:0;
}

.name .price{
    font-weight: 500;
}


input{
    width: 90px;
    height: 30px;    
}

.add-cart{
    font-size: 14px;
}

.prev-next{
    padding: none;
    border: none;
    background-color: transparent;
    width: fit-content;
    height: fit-content;
}

.description{
    font-size: 13px;
}
h1{
    font-size: 25px;
    font-weight: 500;
    margin-bottom:10px;
}
.modal-content{
    border: solid 2px black;
}

.backdrop{
    background-color:rgba(117, 114, 114, 0.6);
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    z-index: 2;
    }



