<div class="container form-holder d-flex justify-content-center pt-5">
    
    <div class="col-lg-3 col-md-5 col-7 mt-5 pt-4">
        <div class="mb-4">
            <h1 class="text-center signup-text mt-5 mb-2">Sign Up</h1>            
        </div>    
        <form #signupForm ='ngForm'>
            <div class="form-group">
                <label for="fname">First Name</label>
                <input type="text" id="fname" class="form-control" ngModel name="fname" required minlength="5" #fname="ngModel">
                <span class="help-block" *ngIf="fname.touched && !fname.valid">
                    <span class="help-block" *ngIf="fname.errors?.['required']">First name is required.</span>
                    <span class="help-block" *ngIf="fname.errors?.['minlength']">First name must be at least 5 characters long.</span>
                </span>
            </div>
            <div class="form-group">
                <label for="lname">Last Name</label>
                <input type="text" id="lname" class="form-control" ngModel name="lname" required minlength="5" #lname="ngModel">
                <span class="help-block" *ngIf="lname.touched && !lname.valid">
                    <span class="help-block" *ngIf="lname.errors?.['required']">Last name is required.</span>
                    <span class="help-block" *ngIf="lname.errors?.['minlength']">Last name must be at least 5 characters long.</span>
                </span>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" class="form-control rounded-1 mb-1" ngModel name="email"
                required email #email="ngModel">
               
                <span class="help-block" *ngIf="email.touched && !email.valid && email.errors?.['required']">    
                    Email is required.                      
                </span>
                <span class="help-block" *ngIf="email.touched &&email.errors?.['email']">
                    Email is not in the right format.
                </span>
                
            </div>
            <div class="form-group mb-3">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control rounded-1 mb-1" ngModel name="password"
                required #password="ngModel" minlength="5">
                <span class="help-block" *ngIf="password.touched && !password.valid">
                    <span class="help-block" *ngIf="password.errors?.['required']">Password is required.</span>
                    <span class="help-block" *ngIf="password.errors?.['minlength']">Password must be at least 5 characters long.</span>
                </span>
            </div> 
            
            <p class="mt-5">Forgot password?</p>
            <button type="button" class="btn col-12 bg-white rounded-1" [disabled]="!signupForm.valid" (click)="signup(email.value, password.value)" (click)="openModal()">Sign Up</button>
            
            <div class="text-center">
                <span class="log-in-text">Already a member? <a [routerLink]="['/login']">Log in</a> </span>
            </div>
        </form>
    </div>
    <div class="backdrop" [ngStyle]="{'display':display}"></div>
    <div class="modal mt-5" [ngStyle]="{'display':display}" id="registerModal"  tabindex="-1" aria-labelledby="registerModalLabel"  role="dialog">
        <div class="modal-dialog mt-5">
          <div class="modal-content rounded-0 text-center mt-5">         
            <div class="modal-body py-4 px-3">
              <h1>Thank You for Registering</h1>
              <p>We have sent a confirmation email to your email.</p>
              <p>Please check your email and click on the link to verify your email address.</p>
              <button class="btn btn-dark me-2" data-bs-dismiss="modal" (click)="sendVerificationEmail()">Resend Verification Email</button>
              <!-- <button type="submit" class="btn btn-dark" [routerLink]="['/login']"  data-bs-dismiss="modal">Log in</button> -->
              <a id="loginlink" href="/login"><button  class="btn btn-dark" data-bs-dismiss="modal">Log in</button></a>         
            </div>         
          </div>
        </div>
      </div>
</div>
